body {
  margin: 0;
  text-align: center;
}
.heading h1 {
  background-color: beige;
  padding: 5px;
  margin-left: 30rem;
  margin-right: 30rem;
}
.content {
  background-color: rgb(216, 237, 248);
  padding: 5px;
}

.footer {
  padding: 4rem;
  padding-left: 65rem;
  position: fixed;
}
